/* HomePage.css */
.home-page {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Высота экрана */
    text-align: center;
  }
  
  .home-page h1 {
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    gap: 10px; /* Расстояние между кнопками */
  }
  