/* HomePage.css */
.home-page {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .home-page h1 {
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Расстояние между кнопками */
  }
  